<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="./jQuery.js"></script>
    <script src="main.js" defer></script>
    <title>X-O</title>
</head>
<body>
    <p>command line-></p>
    <input type="text">
    <button>Enter</button>
    <section>
        <div y="4" x="0"></div>
        <div y="4" x="1"></div>
        <div y="4" x="2"></div>
        <div y="4" x="3"></div>
        <div y="4" x="4"></div>
        <div y="3" x="0">p</div>
        <div y="3" x="1"></div>
        <div y="3" x="2"></div>
        <div y="3" x="3"></div>
        <div y="3" x="4"></div>
        <div y="2" x="0"></div>
        <div y="2" x="1"></div>
        <div y="2" x="2"></div>
        <div y="2" x="3"></div>
        <div y="2" x="4"></div>
        <div y="1" x="0"></div>
        <div y="1" x="1"></div>
        <div y="1" x="2"></div>
        <div y="1" x="3"></div>
        <div y="1" x="4"></div>
        <div y="0" x="0"><img src="./pic.png" width="100px"></div>
        <div y="0" x="1"></div>
        <div y="0" x="2"></div>
        <div y="0" x="3"></div>
        <div y="0" x="4"></div>
    </section>
</body>
</html>